<!DOCTYPE html>
<html>

    <head>
        <!-- Defining metadata and title of the web page -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock Predictor</title>
        <script defer src="/static/script.js"></script>

    </head>

    <body>

        <!-- Main heading for the page -->
        <h1>Stock Price Prediction</h1>

        <!-- Form to take user input for stock prediction -->
        <form id="stockForm">

            <label for="stock-search">Search for a Company:</label>
            <input type="text" id="stock-search" placeholder="enter a company name or stock symbol" autocomplete="off" required>
            <div id="stock-list"></div>
            <button type="submit">Predict</button>

        </form>

        <div id="results"></div>    
        
    </body>

</html>
